# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/

# Build/coverage
dist/
coverage/

# Env & DB locales
.env
api/.env
web/.env
api/prisma/dev.db

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
